<p id="notice"><%= notice %></p>




 <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row"><% @challenges.each do |challenge| %>
        <div class="col-lg-4">
          <img class="img-circle" src="<%=challenge.picture_url%>" alt="Generic placeholder image" width="140" height="140">
          <h2><%= challenge.name %></h2>
          <p><%= challenge.description %></p>
          <p><a class="btn btn-default" href="<%=url_for challenge%>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 --><% end %>
      </div>
    </div>

<br>

<%= link_to 'New Challenge', new_challenge_path %>
